
@import "tailwindcss";

@tailwind utilities;


@keyframes shine {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(150%);
  }
}
